.maincard{
    display: flex;
    margin-top: 15%;
    justify-content: space-around;
}
.card1,.card2,.card3,.card4{
    align-items: center;
    text-align: center;
    width: 500px;
    height: 200px;
    box-shadow: 5px 10px #888888;
    justify-content: space-around;
}
.counter-text{
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    color: purple;
}
.counter{
    font-size: 26px;
    font-weight: bolder;
    color: red;
}